{
  "dev":{
      "eXist":{
          "url":"http://localhost:8080/exist/apps/exist-module/",
          "login":"",
          "pass":""
      },
      "rethink":{
          "host":"localhost",
          "port":"28015",
          "login":"",
          "pass":""
      }
  },
  "live":{
      "eXist":{
          "url":"",
          "login":"",
          "pass":""
      },
      "rethink":{
          "host":"",
          "port":"",
          "login":"",
          "pass":""
      }
  }
}