@import 'mixins';
@import 'variables';

div.bookmarksPane {
    
    font-weight: 100;
    font-size: 1em;
    color: $mainFontColor;
    
    position: absolute;
    top: $headerHeight;
    bottom: $footerHeight;
    right: 0;
    
    border-left: 0.5px solid #222222;
    background-color: #666666;
    
    box-sizing: border-box;
    
    text-shadow: 1px 1px 3px #000000;
    
    .collapseButton {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        @include linearGradient(#222222,#333333);
    }
    
    &.expanded {
        /*Value is provided by JS*/
        /*width: 300px;*/
    }
    
    &.collapsed {
        width: 40px;
    }
    
    h1 {
        font-size: 1em;
        font-weight: 400;
        margin: 0 0 10px;
        padding: 10px;
    }
    
    ul {
        list-style-type: none;
        margin: 0 0 10px;
        padding: 0;
        
        li {
            margin: 0 0 5px 0;
            padding: 5px 20px;
            border-top: 0.5px solid transparent;
            border-bottom: 0.5px solid transparent;
            
            &.active {
                @include linearGradient(#2b2b2b,#333333);
                border-top: 0.5px solid #666666;
                border-bottom: 0.5px solid #666666;
                position: relative;
                
            }
        }
    }
    
    /*
    a, a:hover, a:visited {
        color: $mainFontColor;
        text-decoration: none;        
    }*/
}