@import 'mixins';
@import 'variables';

div.contextMenuBack {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    z-index: 100;
    
    div.contextMenu {
        position: absolute;
        width: 450px;
        height: 250px;
        /*@include linearGradient(#f5f5f5,#e5e5e5);*/
        
        background-color: rgba(240,240,240,.9);
        
        @supports (-webkit-backdrop-filter: blur(8px)) {
            background-color: rgba(240,240,240,.7);
            -webkit-backdrop-filter: blur(8px);
        }
        
        border-radius: 3px;
        box-shadow: 0 3px 8px rgba(0,0,0,.4);
        box-sizing: border-box;
        overflow: hidden;
        
        z-index: 5;
        
        .sliderFrame {
            
            width: 100%;
            box-sizing: border-box;
            
            .slick-arrow {
                color: #333333;
            }
            
            .contextSliderItem {
                height: 130px;
                background-color: #ffffff;
                /*border: 5px dashed brown;*/
                box-sizing: border-box;
                /*width: 100%;*/
                position: relative;
                
                .sliderItemLabel {
                    position: absolute;
                    bottom: -25px;
                    font-weight: 100;
                    left: 10px;
                    font-size: 14px;
                    cursor: pointer;
                }
                
                .previewItem{
                    &.facs {
                        .imgBox, .imgBox img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                    &.xml {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        bottom: 5px;
                        left: 5px;
                        
                        .editorBox {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                    &.transcriptionPreview {
                        .renderingBox {
                            text-align: center;
                            padding-top: 10px;
                            height: 120px;
                            overflow-y: hidden;
                        }
                    }
                    
                    &.reconstruction {
                        
                    }
                    
                    &.text {
                        
                    }
                
                    &.unknown {
                        text-align: center; 
                        padding-top: 55px;
                    }
                }
            }
            
        }
        
        .descBox {
            padding: 10px 20px;
            position: relative;
            
            .bravura {
                display: inline-block;
                font-family: Bravura;
                margin: -20px 0;
                padding: 0 5px 0 0;
            }
            
            .desc {
                display: inline-block;
                padding: 0;
            }
            
            .measure {
                display: inline-block;
            }
            
            .position {
                /*display: inline-block;*/
                display: none;
                padding: 0 0 0 5px;
                &:before {
                    content: '('
                }
                &:after {
                    content: ')'
                }
            }
            
            .metaMarkLink {
                margin: 0 0 0 10px;
                border: .5px solid #666666;
                border-radius: 3px;
                background-color: #ffffff66;
                color: #333333;
                font-weight: 300;
                padding: 1px 5px;
                z-index: 12;
                cursor: pointer;
                position: absolute;
                top: 9px;
                right: 10px;
                
                &:after {
                    content: ' →'
                }
            }
        }
        
        /* ul {
            margin: 0;
            padding: 0;
            border: none;
            list-style-type: none;
            
            li {
                padding: 3px 10px;
                border-top: .5px solid #666666;
                
                color: #444444;
                text-shadow: 0 1px 2px #ffffff; 
                
                &:first-child {
                    border-top: none;
                }
                
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                }
            }
           
        }
        */  
    }
    
}

/* Slick Slider, taken from https://github.com/akiran/react-slick */

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;
    
    margin: 0 0 30px 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    
    .slick-list {
        position: relative;
    
        display: block;
        /*overflow: hidden;*/
    
        margin: 0;
        padding: 0;
        
        &:focus {
            outline: none;
        }
        
        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
        
        &, .slick-track {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
             -ms-transform: translate3d(0, 0, 0);
              -o-transform: translate3d(0, 0, 0);
                 transform: translate3d(0, 0, 0);
        }
        
        .slick-track {
            position: relative;
            top: 0;
            left: 0;
        
            display: block;
            
            &:before {
                display: table;
                content: '';
            }
            
            &:after {
                display: table;
                content: '';
                clear: both;
            }
            
            .slick-slide {
                display: none;
                float: left;
            
                height: 100%;
                min-height: 1px;
                
                img {
                    display: block;
                }
                
                &.slick-loading img {
                    display: none;
                }
                
                &.dragging img {
                    pointer-events: none;
                }
            }
            
        }
        
    }
    
    &.slick-initialized .slick-slide {
        display: block !important;
    }
    
    &.slick-loading .slick-track, &.slick-loading .slick-slide {
        visibility: hidden !important;
    }
    
    .slick-prev, .slick-next {
        font-size: 0;
        line-height: 0;
    
        position: absolute;
        top: 50%;
    
        display: block;
    
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    
        cursor: pointer;
    
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        
        
        &:hover, &:focus {
            color: transparent;
            outline: none;
            background: transparent;
            
            &:before {
                opacity: 1;
            }
        }
        
        &.disabled:before {
            opacity: .25;
        }
        
        &:before {
            font-family: 'slick';
            font-size: 20px;
            line-height: 1;
        
            opacity: .75;
            color: #333333;
        
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
    }
    
    .slick-prev {
        left: 10px;
        z-index: 1;
        
        &:before {
            content: '\f053';
            font-family: 'FontAwesome';
        }
    }
    
    .slick-next {
        right: 10px;
        z-index: 1;
        
        &:before {
            content: '\f054';
            font-family: 'FontAwesome';
        }
    }
    
    .slick-arrow.slick-hidden {
        display: none;
    }
    
    /* Dots */
    .slick-dots
    {
        position: absolute;
        bottom: -27px;
        
        display: block;
    
        width: 60%;
        padding: 0;
        margin: 0 20%;
    
        list-style: none;
        text-align: center;
        
        li {
            position: relative;
        
            display: inline-block;
        
            width: 10px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
        
            cursor: pointer;
            
            button {
                font-size: 0;
                line-height: 0;
            
                display: block;
            
                width: 10px;
                height: 20px;
                padding: 5px;
            
                cursor: pointer;
            
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
                
                &:hover, &:focus {
                    outline: none;
                    
                    &:before {
                        opacity: 1
                    }
                }
                
                &:before {
                    font-family: 'FontAwesome';
                    font-size: 10px;
                    line-height: 20px;
                    
                    content: '\f111';
                    
                    position: absolute;
                    top: 0;
                    left: 0;
                
                    width: 20px;
                    height: 20px;
                
                    text-align: center;
                
                    opacity: .25;
                    color: black;
                
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                
            }
        }
    }
        
    .slick-dots li.slick-active button:before
    {
        opacity: .75;
        color: black;
    }
}

