@import 'mixins';
@import 'variables';

.view.VIDE_PROTOCOL_PERSPECTIVE_FACSIMILE {
    display: flex;
    flex-direction: column-reverse;    
}

.facsimile {
    
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    @include linearGradient(#333333,#151515);
    
    .pageLabel {
        background-color: rgba(255,255,255,.4);
        padding: 1px 5px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    }
    
    .svgBox svg {
        width: 100% !important;
        height: 100% !important;
        
        path {
            opacity: 0 !important;
            
            &:hover {
                stroke: #000000;
                fill: #000000;
                opacity: .15 !important;
            }
            
            &.highlighted {
                stroke: #ff3333;
                fill: #ff3333;
                opacity: .5 !important;
                
                &:hover {
                    stroke: #cc3333;
                    fill: #cc3333;
                    opacity: .6 !important;
                }
            }
            
            &.active {
                stroke: #ff3333;
                fill: #ff3333;
                opacity: .5 !important;
                
                &:hover {
                    stroke: #cc3333;
                    fill: #cc3333;
                    opacity: .6 !important;
                }
            }
            
            &.inactive {
                
            }
            
        }
    }
    
}

.facsNav {
    position:absolute !important;
    top: 0;
    right: 0;
    width: 300px;
    height: 80px;
    @include linearGradient(#333333,#151515);
    
    .displayregion {
        border-color: $spotColor;
    }
}

.facsNavMenu {
    position:absolute;
    top: 80px;
    width: 300px;
    right: 0;
    height: 40px;
    border-top: .5px solid #999999;
    border-bottom: .5px solid #999999;
    box-sizing: border-box;
    background-color: #e5e5e5;
    
    .menuButton {
        float: left;
        height: 30px;
        width: 30px;
        margin: 4px;
        box-sizing: border-box;
        padding: 7px 8px;
        border-radius: 5px;
        font-size: 1.1em;
        color: #333333;
        text-shadow: 0 1px 3px #ffffff;
        
        &:hover {
            background-color: #cccccc;
        }
    }
}

.navOverlay {
    position: relative;
    margin: auto auto 30px;
    box-sizing: border-box;
    /*box-shadow: -3px 0 5px rgba(0,0,0,0.6);
    */
    
    width: 720px;
    height: 120px;
    flex-shrink: 0;
    
    color: #cccccc;
    background-color: rgba(60,60,60,.9);
    border-radius: 3px;    
    
    @supports (-webkit-backdrop-filter: blur(8px)) {
        background-color: rgba(0,0,0,.5);
        -webkit-backdrop-filter: blur(18px);
    }
    
    .select-target.select-theme-chosen {
        border: none;
        box-shadow: unset;
        background: unset;
        color: #e5e5e5;
        font-size: 14px;
    }
    
    .stateNavigation {
        
        box-sizing: border-box;
        
        .scarBox {
        
            overflow: auto;
            
            position: absolute;
            top: 30px;
            right: 70px;
            bottom: 15px;
            left: 70px;
            display: flex;
            
            .measure {
                width: 6px;
                height: 60px;
                /*border-left: .5px solid rgba(240,240,240,.04);*/
                background-color: rgba(240,240,240,.3);
                position: relative;
                
                &.unflex {
                    flex-shrink: .3;
                }
                
                .scar {
                    background-color: rgba(240,240,240,.6);
                    position: absolute;
                    
                    &.complete {
                        height: 90%;
                        width: 100%;
                        top: 5%;
                    }
                    
                    &.staff {
                        width: 100%;
                        /* height set by javascript */
                        /* top set by javascript */
                    }
                    
                    &.highlight {
                        background-color: $spotColor;
                        opacity: .6;
                        z-index: 1;
                    }
                }
            }
            
            
            .rowBox {
                
                margin: 10px 0;
            
                .stateBox {
                    display: inline-block;
                    margin: 0 10px 0 0;
                    padding: 2px 5px;
                    border-radius: 5px;
                    border: .5px solid #999999;
                    @include linearGradient(#e5e5e5,#cccccc);
                    font-weight: 100;
                    
                    &.active {
                        background-color: #aaaaaa;
                        font-weight: 300;
                        text-shadow: 0 1px 2px rgba(255,255,255,.4);
                    }
                    
                    &.current {
                        @include linearGradient(#d5d5d5,#aaaaaa);
                        font-weight: 400;
                        text-shadow: 0 1px 2px rgba(255,255,255,.7);
                    }
                }
            }
        }
    }

    .scarLabel {
        position: absolute;
        bottom: 5px;
        left: 10%;
        width: 80%;
        height: 20px;
        text-align: center;
        cursor: pointer;
    }
    
    .prevScarBtn {
        position: absolute;
        bottom: 5px;
        left: 20px;
        cursor: pointer;
    }
    
    .nextScarBtn {
        position: absolute;
        bottom: 5px;
        right: 20px;
        cursor: pointer;
    }
}