@import 'mixins';
@import 'variables';

.view.VideFacsimileViewer, .view.VidePageOverlayViewer {
    display: flex;
    flex-direction: column-reverse;  
    
    .visSlider {
        display: none;
        width: 90px;
        margin: 8px 0;
        
        &.visible {
            display: block;
        }
    }
    
    .showMeasureNumbersBtn {
        position: absolute;
        top: 5px;
        right: 20px;
        cursor: pointer;
        
        &.off {
            color: #666666;
        }
    }
    
    &.hideMeasureNumbers .measureLabel, &.hideMeasureNumbers .measureSummary {
        display: none !important;
    }
    
    .measureRect {
        box-shadow: 0 0 25px #000000;
        border-radius: 5px;
    }
    
}

.facsimile {
    
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    /*@include linearGradient(#333333,#151515);*/
    background-color: #a5a5a5;
    
    .pageLabel {
        background-color: rgba(255,255,255,.4);
        padding: 1px 5px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    }
    
    .measureLabel {
        cursor: default;
        background-color: rgba(0,0,0,.2);
        padding: 0 2px;
        border-radius: 3px;
    }
    
    .measureSummary {
        cursor: default;
        background-color: rgba(0,0,0,.2);
        padding: 0 2px;
        border-radius: 3px;
    }
    
    .annotBox {
        
        /*background-color: #cccc0066;*/
    
        .annot {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: #cc0000;
            opacity: .6;
            margin: -5px 0 0 -5px;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
    
    .verovioOverlay {
        
        background-color: rgba(255,255,255,.4);
        
        svg {
            width: 100% !important;
            height: 100% !important;
        }  
    } 
    
    .pageBack {
    
        opacity: 0;
    
        svg {
            width: 100% !important;
            height: 100% !important;        
        }   
    }
    
    .svgBox {
        opacity: 0;
    }
    
    .svgBox svg {
        width: 100% !important;
        height: 100% !important;
        
        path {
            opacity: 0 !important;
            
            &:hover {
                stroke: #000000;
                fill: #000000;
                opacity: .15 !important;
            }
            
            &.highlighted {
                stroke: #ff3333;
                fill: #ff3333;
                opacity: .5 !important;
                
                &:hover {
                    stroke: #cc3333;
                    fill: #cc3333;
                    opacity: .6 !important;
                }
            }
            
            &.current {
                stroke: $spotColor;
                fill: $spotColor;
                opacity: .5 !important;
                
                &:hover {
                    stroke: $spotColor;
                    fill: $spotColor;
                    opacity: .6 !important;
                }
            }
            
            &.active {
                stroke: darken($spotColor,25%);
                fill: darken($spotColor,25%);
                opacity: .35 !important;
                
                &:hover {
                    stroke: darken($spotColor,15%);
                    fill: darken($spotColor,15%);
                    opacity: .6 !important;
                }
            }
            
        }
    }
    
}

.facsNav {
    position:absolute !important;
    top: 0;
    right: 0;
    width: 300px;
    height: 80px;
    @include linearGradient(rgba(80,80,80,.9),rgba(60,60,60,.9));
    padding: 10px !important;
    box-sizing: border-box;
    
    @supports (-webkit-backdrop-filter: blur(8px)) {
        background-color: rgba(0,0,0,.5);
        -webkit-backdrop-filter: blur(18px);
    }
    
    .displayregion {
        border-color: $spotColor;
    }
}

.facsNavMenu {
    position:absolute;
    top: 80px;
    width: 300px;
    right: 0;
    /*height: 40px;*/
    box-sizing: border-box;
    background-color: rgba(60,60,60,.9);
    border-radius: 0 0 0 3px;
    
    .menuButton {
        float: left;
        height: 30px;
        width: 30px;
        margin: 4px;
        box-sizing: border-box;
        padding: 7px 8px;
        border-radius: 5px;
        font-size: 1.1em;
        color: #cccccc;
        text-shadow: 0 1px 3px #151515;
        
        &:hover {
            color: #999999;
        }
    }
    
    .menuRow {
        clear: both;
        color: #cccccc;
        text-shadow: 0 1px 3px #151515;
        padding: 2px 10px 10px 10px;
        font-weight: 100;
        @include noSelect();
        cursor: default;
        
        .fa {
            margin-right: 10px;
            cursor: pointer;
            
            &.fa-check-square-o {
                position: relative;
                left: 1px;
            }
        }
    }
}

.VideFacsimileViewer .viewMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 300px;
    height: 30px;
    @include linearGradient(rgba(80,80,80,.9),rgba(72.5,72.5,72.5,.9));
    color: #cccccc;
    text-shadow: 0 1px 3px #151515;
    
    &:hover {
        color: #999999;
    }
    
    .select-target.select-theme-chosen {
        border: none;
        box-shadow: unset;
        background: unset;
        color: #e5e5e5;
        font-size: 14px;
        position: absolute;
        top: 1px;
        left: 10px;
    }
}

