@import 'mixins';
@import 'variables';

#loadingIndicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    
    .loadingItem {
        position: absolute;
        top: 50%;
        left: 50%;
        
        width: 500px;
        margin-left: -250px;
        
        /*background-color: #ff000066;*/
        color: #aaaaaa;
        font-weight: 100;
        font-size: 40px;
        text-align: center;
        
        span {
            display: block;
        }
        
        & + .loadingItem {
            display: none;
        }
    }
    
    
}