@import 'mixins';
@import 'variables';

#loadingIndicator {
    position: absolute;
    top: 6px;
    right: 150px;
    width: 200px;
    height: 20px;
    
    .loadingItem {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /*background-color: #ff000066;*/
        color: #aaaaaa;
        font-weight: 100;
        font-size: 14px;
        
        span {
            margin-left: 5px;
        }
        
        i.fa {
            display: none;
        }
        
        &:first-child i.fa {
            display: inline;
        }
    }
}