@import 'mixins';
@import 'variables';

.meiTextView {
    
    padding: 20px 30px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    
    h1 {
        margin: 0 0 20px;
        font-weight: 700;
        color: #666666;
        font-size: 1.8em;
        clear: both;
        text-shadow:0 1px 2px rgba(0,0,0,0.4);
    }
    
    h2 {
        margin: 0 0 20px;
        font-weight: 500;
        color: #333333;
        font-size: 1.3em;
        clear: both;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    }
    
    p {
        margin: 0 30px 10px 60px;
        font-weight: 300;
        font-size: 1.1em;
        line-height: 1.4em;
        
        .persName {
            color: #000000;
            font-weight: 500;
        }
        
        a, a:visited {
            color: #000000;
            font-weight: 500;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
        
        span.internalLink {
            text-decoration: none;
            color: #000000;
            cursor: pointer;
            font-weight: 500;
            
            &:hover {
                color: #c93b22;
            }
        }
    }
    
    .videoContainer {
        
        margin: 0 30px 30px 0;
        float: left;
        
        .video {
            .spacer {
                visibility: hidden;
                height: 6px;
            }
        }
        
    }
    
    label.videoLabel {
        font-size: .9em;
        font-weight: 100;
        margin: 0 30px 30px 0;
    }
    
}