@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
}