/* 
 * This file contains all the SCSS required for vide-nav-module-blueprint.js
 */
 
@import 'mixins';
@import 'variables';
 
 .navOverlay {
    position: relative;
    margin: auto auto 30px;
    box-sizing: border-box;
    /*box-shadow: -3px 0 5px rgba(0,0,0,0.6);
    */
    
    width: 720px;
    height: 185px;
    flex-shrink: 0;
    
    color: #cccccc;
    background-color: rgba(60,60,60,.9);
    border-radius: 3px;    
    
    @supports (-webkit-backdrop-filter: blur(8px)) {
        background-color: rgba(0,0,0,.5);
        -webkit-backdrop-filter: blur(18px);
    }
    
    .select-target.select-theme-chosen {
        border: none;
        box-shadow: unset;
        background: unset;
        color: #e5e5e5;
        font-size: 14px;
    }
    
    .stateNavigation {
        
        box-sizing: border-box;
        
        .currentMeasureIndicator {
            position: absolute;
            top: 20px;
            height: 130px;
            border-left: 1px solid rgba(240,240,240,.3);
            z-index: 1;
            color: rgba(240,240,240,.8);
            font-size: 80%;
            font-weight: 100;
            padding-left: 3px;
            
            &.hidden {
                display: none;
            }
        }
        
        .measuresBox {
            overflow: auto;
            
            position: absolute;
            top: 20px;
            right: 70px;
            height: 14px;
            left: 70px;
            
            background-color: rgba(240,240,240,.0);
            z-index: 3;
            padding: 0 3px;
            
            .measureNumber {
                position: absolute;
                top: 0;
                display: inline;
                border-left: .5px solid rgb(240,240,240);
                color: rgba(240,240,240,.8);
                font-size: 80%;
                font-weight: 100;
                padding-left: 3px;
                opacity: .3;
            }
            
        }
        
        .braceBox {
            position: absolute;
            top: 38px;
            height: 100px;
            left: 54px;
            width: 15px;
            background-image: url('../pix/brace.png');
            opacity: .4;
        }
        
        .scarBox {
        
            position: absolute;
            top: 38px;
            right: 70px;
            height: 100px;
            left: 70px;
            background-color: rgba(240,240,240,.1);
            z-index: 2;
            padding: 0 3px;
            
            .staff {
                position: absolute;
                left: 0;
                right: 0;
                background-color: rgba(240,240,240,.3);
                
                &.hovered {
                    background-color: rgba(240,240,240,.4);
                }
                
                &.hovered:before {
                    position: absolute;
                    top: 50%;
                    left: -65px;
                    width: 50px;
                    margin-top: -10px;
                    text-align: right;
                    font-weight:100;
                    content: attr(data-label);
                }
            }
            
            .scar {
                background-color: rgba(lighten($spotColor,20%),.75);
                position: absolute;
                top: 5px;
                height: 55px;
                min-width: 2px;
                border-radius: 2px;
                z-index: 3;
                
                &:hover {
                    background-color: rgba(lighten($spotColor,10%),.95);
                }
                
                /* these scars are not affecting the final measures */
                &.intermediate {
                    margin-left: -1px;
                    /*background-color: desaturate($spotColor,30%);*/
                    
                    &:before {
                        position: absolute;
                        top: -1px;
                        left: -2px;
                        width: 6px;
                        height: 6px;
                        content: '';
                        border-radius: 3px;
                        background-color: rgba(lighten($spotColor,10%),.95);
                    }
                    
                    &:hover:before {
                        background-color: rgba(lighten($spotColor,10%),.95);
                    }
                }
                
                &.complete {
                    height: 96%;
                    top: 2%;
                }
                
                /*&.staff {
                    background-color: rgba(20,240,240,.5);
                }*/
                
                &.highlight {
                    background-color: $spotColor;
                    opacity: .6;
                    z-index: 1;
                }
                
                &.hidden {
                    visibility: hidden;
                }
            }
            
        }
        
        .statesBox {
        
            overflow: auto;
            
            position: absolute;
            top: 30px;
            right: 70px;
            bottom: 30px;
            left: 70px;
            display: flex;
            visibility: hidden;
            
            z-index: 1;
            
            .columnsBox {
                margin: 0 25px 0 0;
                float: left;
                width: 10px;
                display: flex;
                flex-direction: column-reverse;
                height: 100%;
                
                .state {
                    border: .5px solid #999999;
                    width: 12px;
                    height: 12px;
                    margin: 10px 0 0 0;
                    overflow: hidden;
                    border-radius: 4px;
                    background-color: #e5e5e533;
                    position: relative;
                    flex: none;
                    cursor: pointer;
                    
                    label {
                        display: none;
                    }
                    
                    &.active:before {
                        display: block;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 8px;
                        height: 8px;
                        border-radius: 3px;
                        content: '';
                        z-index: 1;
                        background-color: lighten($spotColor,30%);
                    }
                    
                    &.current:before {
                        display: block;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 8px;
                        height: 8px;
                        border-radius: 3px;
                        content: '';
                        z-index: 1;
                        background-color: $spotColor;
                    }
                    
                    &.deletion {
                        background-color: #bbbbbb;
                        
                        &:after {
                            content:'/';
                            color: #777777;
                            font-size: 18px;
                            position: absolute;
                            top: -4px;
                            left: 4px;
                        }
                    }
                }
            }
            
            /*  
            .rowBox { 
                margin: 10px 0;
            
                .stateBox {
                    display: inline-block;
                    margin: 0 10px 0 0;
                    padding: 2px 5px;
                    border-radius: 5px;
                    border: .5px solid #999999;
                    @include linearGradient(#e5e5e5,#cccccc);
                    font-weight: 100;
                    
                    &.active {
                        background-color: #aaaaaa;
                        font-weight: 300;
                        text-shadow: 0 1px 2px rgba(255,255,255,.4);
                    }
                    
                    &.current {
                        @include linearGradient(#d5d5d5,#aaaaaa);
                        font-weight: 400;
                        text-shadow: 0 1px 2px rgba(255,255,255,.7);
                    }
                }
            } 
            */
        }
    }

    .scarLabel {
        position: absolute;
        bottom: 5px;
        left: 10%;
        width: 80%;
        height: 20px;
        text-align: center;
        cursor: pointer;
    }
    
    .prevScarBtn {
        position: absolute;
        bottom: 5px;
        left: 20px;
        cursor: pointer;
    }
    
    .nextScarBtn {
        position: absolute;
        bottom: 5px;
        right: 20px;
        cursor: pointer;
    }
    
    .categoryFilterBtn {
        position: absolute;
        top: 5px;
        right: 20px;
        cursor: pointer;
        /* todo: insert categories */
        display: none;
    }
}

.scarCategories { 

    h1 {
        margin: 0;
        font-size: 1.2em;     
    }
    
    ul {
        margin: 10px 0;
        padding: 0;
        font-size: .9em;
        font-weight: 300;
        list-style-type: none;
        
        li {
            
            @include noSelect();
            
            i {
                padding-left: 5px;
                padding-right: 10px;
                font-size: .8em;
                font-weight: 100;
                cursor: pointer;
                width: 30px;
            }
            
            .content {
                cursor: default;
            }
        }
    }
    
}