@import 'mixins';
@import 'variables';

$popper-bg: #f5f5f5;
$popper-border: #8bd8ec;

.tourBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: $tourBackgroundZIndex;
    
    pointer-events: none;
    
    &.restrictive {
        /* pointer-events: all;*/
    }
    
    #tourPopper {
        width: 400px;
        height: 150px;
        max-height: 150px;
        background-color: lighten($popper-border,20%);
        border-radius: 5px;
        border: 5px solid $popper-border;
        box-shadow: 0 2px 15px #000000, 0 1px 5px darken($popper-border,40%) inset;
        z-index: $tourWindowZIndex;
        padding: .8rem 1rem 1rem 1rem;
        pointer-events: all;
        
        .tourContent {
            
            height: 150px;
            overflow: scroll;
        
            h1 {
                font-size: 1.2rem;
                margin: 0 0 .2rem 0;
            }
            
            p {
                margin: 0 0 .2rem 0;
                padding: 0;
                line-height: 1.1rem;
                font-weight: 300;
            }
            
            b {
                font-weight: 500;
            }
            
            a, a:visited, a:hover {
            
                text-decoration: none;
                color: inherit;
                font-weight: 500;
            
                &:before {
                    font-size: 70%;
                    content: '\f08e';
                    font-family: 'FontAwesome';
                    padding: 0 3px 0 0;
                    font-weight: 100;
                }
            }
            
            h2 {
                font-size: 1em;
            }
            
            dl dt {
                display: block;
                float: left;
                clear: both;
                width: 20px;
                background-color: #666666;
                border-radius: 4px;
                margin: 0 10px 5px;
                
                img {
                    margin: 2px 0 0 2px;
                }
                
                .deletionSample {
                    display: block;
                    width: 12px;
                    height: 12px;
                    border: .5px solid #ffffff;
                    margin: 4px;
                    position: relative;
                    border-radius: 2px;
                    background-color: #bbbbbb;
                    
                    &:after {
                        content: '/';
                        color: #777777;
                        font-size: 18px;
                        position: absolute;
                        top: -4px;
                        left: 4px;
                    }
                }
            }
            
            dl dd {
                display: block;
                margin: 0 0 5px 30px;
                font-weight: 300;
            }
            
            .fa.tourIcon {
                font-size: 80%;
            }

        }
        
        .closeTourButton {
            cursor: pointer;
            position: absolute;
            top: 8px;
            right: 8px;
            width: 12px;
            height: 12px;
            display: none;
        }
    }
    
    .popper .popper__arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
    }
    
    .popper[x-placement^="top"] {
        margin-bottom: 5px;
        .popper__arrow {
            border-width: 5px 5px 0 5px;
            border-color: $popper-border transparent transparent transparent;
            bottom: -10px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .popper[x-placement="top-start"] .popper__arrow {
        left: 0;
    }
    .popper[x-placement="top-end"] .popper__arrow {
        left: unset;
        right: 0;
    }
    
    .popper[x-placement^="bottom"] {
        margin-top: 5px;
        .popper__arrow {
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent $popper-border transparent;
            top: -10px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .popper[x-placement="bottom-start"] .popper__arrow {
        left: 0;
    }
    .popper[x-placement="bottom-end"] .popper__arrow {
        left: unset;
        right: 0;
    }
    
    .popper[x-placement^="right"] {
        margin-left: 5px;
        .popper__arrow {
            border-width: 5px 5px 5px 0;
            border-color: transparent $popper-border transparent transparent;
            left: -10px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }
    .popper[x-placement="right-start"] .popper__arrow {
        top: 0;
    }
    .popper[x-placement="right-end"] .popper__arrow {
        top: unset;
        bottom: 0;
    }
    
    .popper[x-placement^="left"] {
        margin-right: 5px;
        .popper__arrow {
            border-width: 5px 0 5px 5px;
            border-color: transparent transparent transparent $popper-border;
            right: -10px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }
    .popper[x-placement="left-start"] .popper__arrow {
        top: 0;
    }
    .popper[x-placement="left-end"] .popper__arrow {
        top: unset;
        bottom: 0;
    }
}

.tourStartButton {
    background-color: lighten($popper-border,10%);
    color: #000000;
    padding: 0 3px;
    border: .5px solid darken($popper-border,20%);
    border-radius: 3px;
    cursor: pointer;
}


